.imagendes {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100vw; 
  height: 100vh; 
  overflow: hidden; 
  background-color: #000000;
  position: relative; 
  margin-bottom: 30px;
}

.imagendes img {
  width: 100%;
  height: 100%; /* Asegúrate de que la imagen cubra todo el contenedor */
  object-fit: cover; 
}

.upo {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  pointer-events: none; 
}

.titulofoto {
  width: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: flex-end; /* Cambiado a flex-end para que el texto esté al fondo */


}

.hola {
  position: absolute; 
  bottom: 180px; 
  left: 50%;
  transform: translateX(-50%); /* Mantener centrado */
  color: white; 
  font-size: 56px; 
  z-index: 2; /* Asegúrate de que esté encima de otros elementos */
  text-align: center; /* Centra el texto si hay múltiples líneas */
  font-family: "Playfair Display", serif;
}
