.productos-home {
  text-align: center;
  padding: 50px;
}

.productos-container {
  display: flex;
  justify-content: space-around;
}

.producto {
  text-align: center;
  position: relative;
  width: 200px;
}

.producto-imagen {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5%;
  position: absolute;
  bottom: 0;
  z-index: 10;
}

.producto-cover-imagen {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 5%;
  position: absolute;
  bottom: 80px;
  left: 150px;
  z-index: 10;
}

.producto-title {
  position: absolute;
  z-index: 100;
  left: 80%;
  color: black;
  position: absolute;
  bottom: 0;
  z-index: 10;
}

.tituloprod {
  font: 55px "Herr Von Muellerhoff", cursive;
  color: #a57d5c;
}
