.pagina {
  background-color: #de99a6;
}
.imagencookie {
  width: 280px;
  height: 220px; /* Permite que la altura sea automática según el contenido */
  border-radius: 30px;
  display: flex;
  flex-direction: column; /* Colocar elementos en columna */
  align-items: center; /* Centrar horizontalmente */
}

.tarjetita {
  background-color: rgb(255, 255, 255);
  width: 280px;
  height: 220px; /* Permite que la altura sea automática según el contenido */
  border-radius: 30px;
  display: flex;
  flex-direction: column; /* Colocar elementos en columna */
  align-items: center; /* Centrar horizontalmente */
}

@media (max-width: 767.98px) {
  .bordes {
    margin-bottom: 20px;
  }
}
.bordes {
  border-radius: 30px;
  box-shadow: 0 11px 38px -15px rgba(0, 0, 0, 0.5);
}
.img-fluid {
  max-width: 100%;
  height: 280px;
}

.card:hover {
  border: 1px solid rgb(255, 255, 255);
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.tarjetitaNombre {
  background-color: rgb(255, 255, 255);
  border: 3px;
  border-radius: 20px;
  width: 100%;
  color: #333; /* Cambia el color del texto a uno más oscuro */
  padding: 10px; /* Añadir algo de padding */
}
.fotoTamaño {
  width: 300px;
  height: 300px;
}
/* grilla */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: 25%;
  padding-left: 13%;
}

.fuente-titulo {
  text-align: center;
  font-family: "Playfair Display", serif;
  color: rgb(0, 0, 0);
  font-size: 55px;
}

.h3 {
  font-family: "Playfair Display", serif;
  color: #474747;
  font-size: 25px;
  font: weight 10px;
  text-align: center;
  line-height: 1.5;
}
.h4 {
  color: #de99a6;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  padding-top: 20px;
  text-align: left;
  font-size: 17px;
  line-height: 0.1;
}

.parrafo {
  padding: 4px 0;
  font-size: 15px;
  line-height: 19px;
  color: #333; /* Asegúrate de que el color del texto sea visible */
  text-align: left;
}

/* tilde rosa */

.custom-list {
  list-style-type: none;
  padding-left: 0;
  padding-top: 15px;
  color: black;
}

.custom-list li {
  position: relative;
  padding-left: 20px; /* Ajusta este valor para acercar o alejar el texto del ícono */
  margin-bottom: 7px;
}

.custom-list li::before {
  content: "✔"; /* Símbolo de la tilde */
  color: #de99a6; /* Color dorado */
  font-size: 18px; /* Tamaño ajustado del ícono */
  position: absolute;
  left: 0; /* Ajusta la posición horizontal del ícono */
  top: 0;
  line-height: 1, 9; /* Asegura que el ícono esté alineado verticalmente con el texto */
}
